body > section > h1, .new {
    border-radius: 5px;
    background-color: cornflowerblue;
    color: azure;
}

header > div > a{
    color: #1b4da8 !important;
    margin-left: 2rem;
}

.new:hover{
    background: #4682ee;
    color: azure;
}

a {
    text-decoration: none;
}

.bg-lightblue {
    background-color: #cbe7f8;
}

.container-fluid {
    padding: 0px;
}

.img-content {
    background-image: url(../img/home.jpg);
    background-size: cover;
}

.bg-corn {
    background-color: #6495ed;
}

.li-hover:hover{
    background: #b0d6f3;
}