{% extends 'base.html' %}


{% block title %}
    Reminder | Tasks
{% endblock %}

{% block main %}
    <h1 class="text-center p-3 m-3">Tasks</h1>
    <div class="container p-5">
        <div>
            <a href={% url 'add-task' %} class="new p-2" aria-current="page">+ new</a>
        </div>
        <div class="mt-3">
            <ul class="list-group">
                {% for task in object_list %}
                    <a href="{{ task.get_absolute_url }}">
                        <li class="list-group-item bg-lightblue text-center li-hover">
                            {{ task.title | title }}
                        </li>
                    </a>
                {% empty %}
                    <li class="bg-lightblue list-group-item text-center">No tasks yet.</li>
                {% endfor %}
            </ul>
            <div class="mt-3">
                <a href={% url 'download-tasks' %} class=" new p-2 mt-1" aria-current="page">download</a>
            </div>
        </div>
    </div>
{% endblock %}
