{% extends 'base.html' %}


{% block title %}
    Reminder | Categories
{% endblock %}

{% block main %}
    <h1 class="text-center p-3 m-3">Categories</h1>
    <div class="container p-5">
        <div>
            <a href={% url 'add-category' %} class="my-btn p-2" aria-current="page">+ new</a>
        </div>
        <div class="mt-3">
            <ul class="list-group">
                <li class="bg-lightblue list-group-item fw-bold text-center">Full Categories:</li>
                {% for category in categories.full %}
                    <a href={% url 'category-tasks' category.pk %}>
                        <li class="bg-lightblue list-group-item text-center li-hover">
                            {{ category.name | title }}
                        </li>
                    </a>
                {% empty %}
                    <li class="bg-lightblue list-group-item text-center">No categories yet.</li>
                {% endfor %}
                <br>
                <li class="bg-lightblue list-group-item fw-bold text-center">Empty Categories:</li>
                {% for category in categories.empty %}
                    <a href="#">
                        <li class="bg-lightblue list-group-item text-center">
                            {{ category.name }}
                        </li>
                    </a>
                {% empty %}
                    <li class="bg-lightblue list-group-item text-center">No categories yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
